@font-face {
    font-family: 'RobotoSlab';
    src: url('/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

body {
    background-color: #333333;
    margin: 0;
    color: white;
    font-family: 'RobotoSlab';
}

.hidden {
    display: none;
}

.about {
    display: flex;
    background-color: #DDDDDD;
    margin: 6px;
    padding: 6px;
    border-radius: 4px;
    color: black;
}
.about div {
    margin: 2px;
    margin-left: 12px;
}

.app-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: nowrap column;
}

.chess-board-container {
    position: relative;
    width: 800px;
    height: 800px;
}

.over-board {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    border: 1px #444444 solid;
    backdrop-filter: blur(16px);
    background-color: #22222255;
    color: black;
    text-align: center;
}

.game-select {
    height: 270px;
    width: 300px;
    display: flex;
    font-size: 30px;
    line-height: 30px;
    flex-flow: column nowrap;
    color: white;
    justify-content: space-around;
}

.game-mode {
    color: #1010AA;
    cursor: pointer;
}

.game-mode:hover {
    color: #6010AA;
}

.game-over {
    height: 100px;
    line-height: 100px;
    width: 300px;
    font-size: 30px;
}

.promotion {
    height: 100px;
    line-height: 100px;
    width: 300px;
    display: flex;
    font-size: 50px;
    justify-content: space-around;
}

.chess-board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: nowrap column;
}

.chess-board .row {
    display: flex;
    height: 100%;
}

.chess-board .tile {
    background: #e9dac0;
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
}

.chess-board .tile.black {
    background: #a88b70;
}

.chess-board .piece {
    font-size: 60px;
    text-align: center;
    color: black;
    cursor: grab;

    /* Remove the strange background. */
    transform: translate(0, 0);
}

header {
    font-size: 2em;
    padding-top: 6px;
    height: 1.5em;
}
